
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.tab-pane{
    padding-top:50px;
    padding-bottom:50px;
    width:100%;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

p2 {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.6;
    display: inline-block;
    text-indent: 20px;
    text-align: justify;
    padding-left : 20px;
}

p3 {
    margin: 0 0 25px;
    font-size: 19px;
    line-height: 1.5;
    display: inline-block;
    text-indent: 20px;
    text-align: justify;
}
.row{
    padding:20px;
}


h6{
    color:#666;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
        text-indent: 20px;
    }
}

a {
    color: #ca0a55;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

.inverse_a:hover,
.inverse_a:focus{
    text-decoration: none;
    color: #000!important;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,1);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
    z-index: 2;
}

.navbar-custom .navbar-brand {
    font-weight: 900;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: #fff;
    color:#000;
}

.navbar-custom .nav li.active a:hover {
    color: rgba(0,0,0,.8);
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,1);
        background: #000;
    }
}



.nav-pills>li>a:hover , .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li.active >a:active{
    background-color: #ca0a55;
}
.nav-pills li{
    margin: 5px;
}


.center-pills { text-align: center }
.center-pills ul.nav-pills { display: inline-block }
.center-pills li { display: inline }
.center-pills a { float: left }

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;

}

.intro .intro-body .intro-text {
    font-size: 16px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

hr.scissor {
    border-top: 1px dashed #8c8b8b;
}
hr.scissor:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: -15vw;
    padding: 0 3px;
    margin-left: 10vw;
    margin-right: 10vw;
    background: #ffffff;
    color: #ca0a55;
    font-size: 18px;
}

hr.small{
    margin-left: 10vw;
    margin-right: 10vw;
}

hr.right {
    border-top: 1px dashed #8c8b8b;
    -moz-transform: scaleX(-1);    /* Gecko */
    -o-transform: scaleX(-1);      /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform: scaleX(-1);         /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.row-proj{
    margin-top:2vw;

}
.img-proj{
    border-radius:20px;
    height:100%;
    width:100%;
    vertical-align: middle;
    margin: 1vw;

}
.btn-proj{
    margin:1vw;
}

.btn-scroll:hover,
.btn-scroll:focus {
    font-size: 70px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 150px;
    padding-bottom: 50px;
}

.mywork-section {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    color: #000;

    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


@media(min-width:767px) {
    ."img-rounded"-section {
                      padding-top: 250px;
                  }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ca0a55;
    color: #ca0a55;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover  {
    border: 1px solid #ca0a55;
    outline: 0;
    color: #fff;
    background-color: #ca0a55;
    word-spacing: 0px;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 150px 0 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/* progress bars*/
.progress {
    background: rgba(255, 255, 255, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    background: rgba(142, 8, 60,  .8);}
.progress-bar-custom4 {
    background: rgba(142, 8, 60,  .7);}
.progress-bar-custom5 {
    background: rgba(142, 8, 60,  .6);}

/*masonry*/
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */


.img-thumbnail{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0px;
    line-height: 1.42857143px;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

/* clear fix */
.grid:after {
"img-rounded": '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */


.grid-sizer,
.grid-item {
    width: 20%;
}


.grid-item.wide {
    width: 40%!important;
}

.grid-item {
    float: left;
}

.grid-item img {
    width: 100%;
}

.grid-item img:hover {
    opacity:.7;
    cursor:pointer;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 180; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    padding:2vw;
    cursor:pointer;

}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height: 100%;
}




/* Add Animation */
.modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    font-size: 0px;
    font-weight: bold;
    transition: 0.3s;
}


/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.text-selectable{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}